@import "variables";
@import "mixins";

.footer {
    background-color: $darkBlue;
    color: $white;
    padding: 4rem;
    text-align: center;
    
    .container {
  
      @include pc {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 3fr;
        grid-template-rows: 1fr auto;
        grid-template-areas: 
          "logo links1 links2 cta"
          "social links1 links2 copyright";
        gap: 1rem;
        justify-items: start;
      }
    }
  
    a {
      color: $white;
    }
  
    &__logo {
      display: inline-block;
  
      margin-bottom: 3rem;       
  
      @include pc {
        grid-area: logo;
      }
    }
  
    &__social {

        margin-bottom: 3rem;       
      
      @include pc {
        grid-area: social;
        align-self: end;
      }
  
      a {      
        display: inline-block;
        height: 1.25rem;
  
        svg path {
          transition: fill 150ms ease-in-out;
        }
  
        &:hover svg path {
          fill: $limeGreen;
        }
      }
  
      a:not(:last-child) {
        margin-right: 1.6rem;
      }
  
    }
  
    &__links {
      display: flex;
      flex-direction: column;
      align-items: center;
  
      @include pc {
        justify-content: space-between;
        align-items: start;      
      }
  
      &.col1 {
  
        @include pc {
          grid-area: links1;
        }
      }
  
      &.col2 {
  
        margin-bottom: 3rem;        
  
        @include pc{
          grid-area: links2;
        }
      }
  
      a {
        line-height: 2.25;
        transition: color 150ms ease-in-out;
        
        &:hover {
          color: $limeGreen;
        }
      }
    }
  
    &__cta {
  
      @include pc {
        grid-area: cta;
        text-align: right;
        justify-self: end;
      }
  
      a.button {

          margin-bottom: 3rem;       
  
      }
    }
  
    &__copyright {
      color: $grayishBlue;
  
      @include pc {
        grid-area: copyright;
        align-self: end;
        justify-self: end;
      }
    }
  
  }